/* These are font famailes applied to site  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');


body{
    background-image: linear-gradient(110deg, #1fa83c 10%, hsl(197, 100%, 88%) 90%);
    font-family: 'Poppins', sans-serif;
    
}

.navbar{
    display: flex;
    border: 2px solid black;
    width: auto;
    /* justify-content: right; */
    
}
.navbar1{
    display: flex;
    font-size: 5em;
    padding: 0.5rem;
    border: 2px solid red;
    align-self: left;
    color: aliceblue;
    font-weight:bold    ;
    
    
    
}
.navbar2{
    display: flex;
    align-self:center;
    float: right;
    
    justify-content: right;   
    border: 2px solid red; 
    align-self: right;
    flex-grow: 2;
}

.navbar-txt{
    padding: 0px 30px;
    margin: 10px 10px;
    font-size: 2.5em;
    color: white;
    transition: 500ms;
    transform: scale(1);
    cursor: pointer;
    font-variant-caps: small-caps;
    


}
.heading{
    display: block;
    margin-top: .7em;
    font-family: 'Poppins', sans-serif;
    font-size: 8em;
    font-weight: bold;
    color: white;
    border: 2px solid green;
    line-height: 1.1em;
    box-sizing: content-box;
    place-items: center;


}



.ladyimage{
    display: flex;
    border: 2px solid brown;


}
#ladyimg{
transform: scale(0.56);
left: 35em;
position: absolute;
top:-7rem;
display: flex;


}

    

.main{
display: flex;
flex-direction: row;
width: auto;

}
.offers{
    display: flex;
    font-size: 12em;
    margin-top: 10rem;
    border: solid 2px greenyellow;
    flex-wrap: wrap;
    box-shadow: 10px 10px balck ;
    background-image: linear-gradient(180deg, #005a13 10%, hsl(138deg 50% 50%) 90%); 
    color: white;
    border-radius: 80px 80px 0px 0px;
    padding: 0px 0px 190px 0px;

    
}
.proffers{
    display: block;
    height: 2.2em;
    width: 1.8em ;
    border:2px solid red;
    border-radius: 30px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
    
}
.offerings{
    display: block;
    font-size: 5rem;
    text-align: center;
    background-image: linear-gradient(180deg, #005a13 10%, hsl(138deg 50% 50%) 90%);
    color: white;
    border-radius: 80px 80px 0px 0px;
    margin-top: -180px;
    padding: 0px 0px 0px 0px;

}
.products{
    display: flex;
    border: solid 2px maroon;
    padding: 0px 0px 190px 0px;
}
.productslist{
    display: flex;
    height: 22.2em;
    width: 25.4em ;
    border:2px solid red;
    border-radius: 30px;
}
.shopnow {
	display: inline-block;
	margin: 75px 8px;
	padding: 10px 30px 10px 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3.5em;
	color: #ffffff;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #0d4e24;
	box-shadow: 12px 12px 0 #009518db;
    border-radius: 80px;
    transition: 400ms;

}

.shopnow:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: green;
    transition: 400ms;
}

.shopnow:active {
	transform: translateX(4px) translateY(4px);
	box-shadow: 8px 8px 0 blue;
}
.navbar-txt:hover{
    
   
    /* text-decoration: underline; */
   transition: 250ms ease-in-out;
   font-weight: 500;
    transform:scale(1.1) ;
}
.Revoltion
{
    font-size: 5rem;
    text-align: center;
    color: white;
    background-image: linear-gradient(180deg, #005a13 10%, hsl(138deg 50% 50%) 90%);  
    border-radius: 80px 80px 0px 0px;
    padding: 50px 20px 60px 20px;
    margin-top: -120px;
}
.Revoltion1{
    font-size: 3rem;
    padding: 50px 0px 0px 0px;
}
.Revoltion2{
    font-size : 2.5rem;
}
.Revoltion3{
    margin-top: -150px;
    font-size: 6rem;
    text-align: center ;
}
div.city{
    font-size: 6rem;
    padding: 90px 0px 190px 0px;
    text-align: center;
    color: black;
    background-color: white;
}
.cityn{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    white-space: pre;
    padding: 40px 0px 0px 0px;
}


.brandlogo{
    background-color: white;
    width: 100%;
    margin-top: -120px;
    font-size: 2em;
    padding: 50px 50px 50px 50px;
}

.brandlogo > img{
    width: 1700px;
    padding: 0px 100px 0px 100px;
}

.brandlogo > h2{
    margin-left: 80px;
    font-size: 3.5em;
}



