/* These are font famailes applied to site  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
*{
    margin: 0;
}

body{
    /* background-image: linear-gradient(110deg, #1fa83c 10%, hsl(197, 100%, 88%) 90%); */
    font-family: 'Poppins', sans-serif;
    background-color: #1E3F20;
}

.navbar{
    display: flex;
    /* border: 2px solid black; */
    width: auto;
    /* justify-content: right; */
    
}
.navbar1{
    display: flex;
    font-size: 5em;
    padding: 0.5rem;
    /* border: 2px solid red; */
    align-self: left;
    /* color: aliceblue; */
    color: #94ECBE;
    font-weight:bold    ;
    margin-left: 85px;
    
    
    
}
.navbar2{
    display: flex;
    align-self:center;
    float: right;
    
    justify-content: right;   
    /* border: 2px solid red;  */
    align-self: right;
    flex-grow: 2;
}

.navbar-txt{
    padding: 0px 30px;
    margin: 10px 10px;
    font-size: 1.8em;
    /* color: white; */
    color: #94ECBE;
    transition: 500ms;
    transform: scale(1);
    cursor: pointer;
    font-variant-caps: small-caps;
    


}
.heading{
    display: block;
    margin-top: .7em;
    font-family: 'Poppins', sans-serif;
    font-size: 8em;
    font-weight: bold;
    /* color: white; */
    color: #94ECBE;
    /* border: 2px solid green; */
    line-height: 1.1em;
    box-sizing: content-box;
    place-items: center;
    margin-left: 95px;

}



.ladyimage{
    display: flex;
    /* border: 2px solid brown; */


}
#ladyimg{
transform: scale(0.56);
left: 35em;
position: absolute;
top:-7rem;
display: flex;


}

    

.main{
display: flex;
flex-direction: row;
width: auto;

}
.offers{
    display: flex;
    font-size: 12em;
    margin-top: 10rem;
    /* border: solid 2px greenyellow; */
    flex-wrap: wrap;
    box-shadow: 10px 10px balck ;
    margin-right: 10px;
    /* color: white; */
    color: #94ECBE;
    margin-left: 30px;
}
.proffers{
    display: block;
    height: 2.2em;
    width: 1.8em ;
    border:2px solid red;
    border-radius: 30px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.2);
    margin-right: 20px;
}
.offerings{
    display: block;
    font-size: 5rem;
    text-align: center;
    /* background-image: linear-gradient(180deg, #005a13 10%, hsl(138deg 50% 50%) 90%); */
    background-color:#1E3F20 ;
    color: #94ECBE;
    border-radius: 60px 60px 0px 0px;
    
    padding: 0px 0px 0px 0px;

}
.products{
    display: flex;
    
    padding: 0px 0px 190px 40px;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 2em;
    margin: 20px;
    align-items: center;
    
}

    

.productslist{
    display: flex;
    height: 30em;
    border-radius: 30px;
   
}




.shopnow {
	display: inline-block;
	margin: 75px 8px;
	padding: 10px 30px 10px 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3.5em;
	color: #ffffff;
	text-decoration: none;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #005a28;
	box-shadow: 12px 12px 0 #bbffca;
    border-radius: 80px;
    padding: 12px 35px 18px 35px;
    margin-left: 100px;
}

.shopnow:active {
	transform: translateX(4px) translateY(4px);
	box-shadow: 8px 8px 0 #007FFF;
}
.navbar-txt:hover{
    
   
    /* text-decoration: underline; */
   transition: 250ms ease-in-out;
   font-weight: 500;
    transform:scale(1.1) ;
}
.Revoltion
{
    font-size: 5em;
    text-align: center;
    color: #94ECBE;
    /* background-image: linear-gradient(180deg, #005a13 10%, hsl(138deg 50% 50%) 90%);   */
    background-color: #1E3F20;
    border-radius: 60px 60px 0px 0px;
    padding: 1.5em;
  
    
    
}
.Revoltion1{
    font-size: 3rem;
    color:#94ECBE;
    
}
.Revoltion2{
    font-size : 2.5rem;
    padding-bottom:80px ;
    color: #bbffca;
    text-align: center;
}
.Revoltion3{
    margin-top: -150px;
    font-size: 5rem;
    text-align: center ;
    
}
div.city{
    font-size: 6rem;
    padding: 90px 0px 190px 0px;
    text-align: center;
    color: black;
    background-color: #345830;
    margin: -120px;
    color: aliceblue;
}
.cityn{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    white-space: pre;
    text-shadow: 2px 2px 5px black;
    color: #ffffff;
}
.advte{
    font-size: 9rem;
    text-align: center;
    color: #94ECBE;

}
.adv{
    display: flex;
    justify-content: space-between;
   
    
}
.advd{
    display: flex;
    border: 2px solid crimson;
    width: 30%;
    height: 30rem;
    
}


.about{
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0rem;

}

.aboutd{
    border: 2px solid black;
    

}

.contact{
    padding: 70px 0px 90px 0px;
    margin: 0px 0px 100px 80px;
}

.contactform{
    float: left;
}

.contactus-txt{
    font-size: 55px;
    color: #bbffca;
}

.form-group input {
    text-align: left;
    color: Black;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    display: block;
    padding: 20px;
    margin: 15px auto;
    width: 700px;
    border: 2px solid white;
    border-radius: 0px;
    font-weight: bold;
    opacity: 0.8;

}

.form-group button{
    font-size: 2.5rem;
    padding: 10px 00px 10px 0px;
    margin: 10px;
    cursor: pointer;
    border-radius: 01px;
    width: 300px;
    background-color:#005a28;
    border: 2px solid #bbffca;
    color: white;
    font-family: 'Poppins';

}

.alist{
    display: flex;
    font-size: 3rem;
}
.li{
    list-style: none;
}
i{
  font-style: normal;  
}
a{
    text-decoration: none;
    color: white;
}
.productimg{
    display:block;
    border-radius: 20px;

}

.footer{
    display: block;
    margin: 100px 0px 100px 0px;
    font-size: 1.5rem;
    background-color: white;
    color: black;
    font-family: 'Raleway';
    /* margin-top: 350px; */
    text-align: center;
    padding: 0px 0px 0px;
    align-items: center;
}
.main-contact{
    display: block;
    height: 600px;
}
.footer-text{
font-size:2rem ;
}
.footer-img{
    width: 2.5%;
    height: 2.5%;
    align-self: center;
    vertical-align: middle;
    fill: #D10000;
    
}
.footer-link{
    color: #065d30;
    font-size: 1.5rem;
}
